    <table
        x-data="{
            handle: (item, order) => {
                htmx.ajax('POST', '{url(['action' => 'adjustOrder'])}/'+ item +'/'+ order, {'swap': 'none'});
            }
        }">
